
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root {
  --white: #fff;
  --grey: #8D99AE;
  --dark-grey: #2B2D42;
  --black: #000;
  --scarlet-red: #D90429;
  --ruby-red: #EF233C;
  --midnight-purple: #2d0036;
  --midnight-purple-dark: rgba(20, 0, 30, 1);
  --midnight-purple-light: #7d5ca3;
  --user-review-black: #2E2E2E;
}

/* Global styles & resets*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  height: 100%;
  background: linear-gradient(135deg, var(--dark-grey) 60%, var(--midnight-purple) 100%);
  background-attachment: fixed;
  scroll-behavior: smooth;
}

/* Main container */

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: var(--white);
}

/* Site wrapper */

.container {
  width: 90%;
  max-width: 60rem;
  display: flex;
  justify-content: center;
}

/*** General typography misc styles ***/

/* Main page stlyes */

.title {
  font-size: clamp(2.5rem, 10vw, 4.25rem);
  color: var(--white);
  margin: 2rem 0;
  line-height: 1.4;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Creepster', sans-serif;
  animation: spooky-glow 2s infinite alternate;
}

.error-message {
  margin-bottom: 1rem;
}

.error-image {
  margin-bottom: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0, .3);
}

path {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

.loading-text {
  font-size: clamp(2rem, 6vw, 3rem);
}

.holding-message, .flick-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: .75rem;
  height: 80vh;
  align-self: center;
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
}

.flick-not-found-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.flick-not-found-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.flick-not-found .back-to-search {
  margin-top: 2rem;
}

.user-prompt {
  z-index: 2;
  position: absolute;
  top: 4rem;
  right: 0;
  display: flex;
  padding: .5rem;
  justify-content: end;
  align-items: center;
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
  width: fit-content;
  border-radius: .75rem;
  padding: 1rem;
}

.user-prompt-text {
  color: var(--white);
  margin-right: .5rem;
}

.user-prompt-link {
  display: flex;
  align-items: end;
  color: var(--white);
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
  padding: .5rem .75rem;
  border-radius: .75rem;
  margin-left: 1rem;
  box-shadow: 0 0 30px var(--midnight-purple-light);
  animation: pulse 1500ms infinite;
}

.delete-prompt {
  position: absolute;
  height: 6rem;
  width: 10rem;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--user-review-black);
  border: 2px solid var(--white);
  transition: 500ms all ease-in;
  padding: 1rem;
  border-radius: 1rem;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  box-shadow: 0 0 8px var(--white);
}

.delete-icon-flex-container {
  display: flex;
  justify-content: space-between;
  
  filter: drop-shadow(.25rem .25rem .5rem #ffffff);
  margin-top: .5rem; 
}

.delete-icon-button {
  background-color: transparent;
  color: var(--white);
  border: none;
}

.delete-icon {
  font-size: 2.5rem;
}

.knife {
  font-size: clamp(2.5rem, 10vw, 3.75rem);
  opacity: .3;
}

.knife:hover {
  scale: 1.2;
}

.filled {
  color: var(--scarlet-red);
  opacity: 1;
}

/* Flipping container for main body */

.flipper {  
  height: 100vh;
  width: 100%;
  background-color: transparent;
  perspective: 800px;
  margin-top: 2rem;
}

.flipper-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.flipper-front {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.flipper-back {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

/* Flick input form layout */

.flick-input-form {
  display: grid;
  grid-template-columns: 1.5rem auto auto 1.5rem;
  grid-template-rows: 1.5rem auto auto auto auto auto auto auto auto auto auto 1.5rem;
  grid-template-areas: 
  ". . . ."
  ". fs-title fs-rating ."
  ". fs-input-sub fs-input-sub ."
  ". fs-input-txt fs-input-txt ."
  ". fs-director fs-director ."
  ". fs-actors fs-actors ."
  ". fs-released fs-released ."
  ". fs-cancel-btn input-button ."
  ". fs-imdb-poster fs-imdb-poster ."
  ". . imdb-rating ."
  ". . . ."
  ;
  margin-bottom: 2rem;
  min-width: 90%;
  max-width: 768px;
  border-radius: .75rem;
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
  box-shadow: 0 0 30px var(--midnight-purple-light);
  opacity: .3;
}

.flick-input-form-search-title-complete, .flick-input-form-search-title {
  grid-area: fs-title;
  font-size: clamp(1.5rem, 5vw, 3.75rem);
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: .5rem;
  width: 90%;
}

.flick-input-search-rating > .knife {
  font-size: clamp(1.75rem, 8vw, 3.75rem);
}

.flick-input-search-rating {
  grid-area: fs-rating;
  justify-self: flex-end;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  background: var(--midnight-purple-light);
  margin-bottom: 1rem;
  transition: background-color 500ms ease-in;
  border: var(--grey) dashed 2px;
}

.flick-input-subheader {
  grid-area: fs-input-sub;
  transition: background-color 500ms ease-in;
}

.flick-input-review-text {
  grid-area: fs-input-txt;
  min-width: 100%;
  margin-bottom: .8rem;
  transition: background-color 500ms ease-in;
}

.flick-input-subheader, .flick-input-review-text, .flick-input-form-search-title {
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  border-radius: .5rem;
  letter-spacing: .2px;
  border: none;
  cursor: pointer;
  line-height: 1.4;
  box-shadow: 0 0 15px rgba(0,0,0, .3);
  padding: .5rem .5rem .5rem 1rem;
  max-width: 100%;
  font-weight: 500;
  background-color: var(--midnight-purple-light);
  border: var(--grey) dashed 2px;
}

.flick-input-director,
.flick-input-actors,
.flick-input-released {
  margin-bottom: .8rem;
  font-style: italic; 
}

.flick-input-director {
  grid-area: fs-director;
}

.flick-input-actors {
  grid-area: fs-actors;
}

.flick-input-released {
  grid-area: fs-released;
}

.flick-input-imdb-poster {
  grid-area: fs-imdb-poster;
  width: 100%;
}

.flick-input-submit, .cancel-edit-btn{
  height: 3rem;
  margin: .5rem 0 1rem .5rem;
  padding: .5rem ;
  border-radius: .5rem;
  background-color: var(--midnight-purple-light);
  color: var(--white);
  transition: opacity 500ms ease-in;
  opacity: .25;
}

.cancel-edit-btn {
  display: flex;
  gap: .25rem;
  width: fit-content;
  align-items: center;
  grid-area: fs-cancel-btn;
  background-color: transparent;
  border: none;
  color: var(--white);
  opacity: 1;
  margin: 0;
  padding: 0;
}

.cancel-edit-btn > .link-arrows, .cancel-edit-btn .cancel-edit-text {
  color: var(--white);
}

.cancel-edit-text {
  padding: 0 0 0 .25rem;
  color: var(--grey);
  margin: 0;
  line-height: 7;
}

.flick-input-submit {
  grid-area: input-button;
  justify-self: end;
  width: 100%;
}

.completed {
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
  box-shadow: 0 0 15px var(--midnight-purple-dark);
  color: var(--white);
}

.flick-input-submit.completed {
  box-shadow: 0 0 30px var(--midnight-purple-light);
  opacity: 1;
  animation: pulse 1500ms infinite;
}

.flick-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input::placeholder, .imdb-search-input::placeholder {
  color: var(--white);
}


.flick-search-inputs {
  display: grid;
  width: 100%;
  max-width: 35rem;
  grid-template-columns: 1fr 3rem 1fr;
  grid-template-rows: 3rem 3rem 3rem;
  margin-bottom: 1rem;
}

/* Search inputs fields */

.search-input, .imdb-search-input {
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  width: 100%;
  color: var(--white);
  padding: .5rem .5rem .5rem 1rem;
  border-radius: .75rem;
  letter-spacing: .5px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0, .3);
  cursor: pointer;
  transition: background-color 500ms ease-in;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.search-input-form {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
}

.imdb-search-input-form {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 3/4;
  display: grid;
  position: relative;
}

.input-seperator-text {
  align-self: center;
  justify-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
  line-height: 0;
}

.fetch-btn-flicks, .fetch-btn-imdb {
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  color: var(--white);
  justify-self: flex-end;
  align-self: center;
  border-radius: 0 .5rem .5rem 0;
  outline: none;
  background-color: transparent;
  grid-column: 1/2;
  grid-row: 1/2;
} 

.search-input:hover, .search-input:focus, .imdb-search-input:hover, .imdb-search-input:focus,
.fetch-btn-flicks:hover, .fetch-btn-flicks:focus, .fetch-btn-imdb:hover, .fetch-btn-imdb:focus, .flick-result:hover, .flick-result:focus, .flick-result:hover > .new-tag, .flick-result:focus > .new-tag
{ 
  background-color: var(--scarlet-red);  
  box-shadow: 0 0 20px var(--ruby-red);   
  outline: none;
  transition: 500ms ease-in all;
}

/* Flick result styles */

.flick-result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  margin-top: 1rem;
}

/* Individual search result */

.flick-result {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: 1rem auto auto 1rem;
  grid-template-rows: 1rem auto 1rem;
  grid-template-areas: 
  ". . . ."
  ". flick-title flick-rating ."
  ". . . ."
  ;
  cursor: pointer;
  border-radius: .75rem;
  color: var(--white);
  transition: background-color 500ms ease-in;
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
}

/* User review additional styles */

.user-review {
  background-color: var(--user-review-black);
  border: 2px solid var(--white);
  position: relative;
  transition: 500ms all ease-in;
}

/* Semi-transperant modal overlay */

.user-review-modal {
  display: flex;
  z-index: 2;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;  
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 3rem;
  opacity: 0;
  transition: all 1500ms ease-in;
}

.modal-flex-item {
  position: relative;
  color: var(--white);
  filter: drop-shadow(.25rem .25rem .5rem #ffffff);}

.background-blur {
  transition: filter 500ms ease-in;
  filter: blur(5px);
}

.new-tag {
  position: absolute;
  left: -1.1rem;
  top: -.75rem;
  background-color: var(--user-review-black);
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  padding: .35rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: .5rem;
  transform: rotate(-25deg);
  box-shadow: 0 0 8px var(--white);
  animation:  boing 2s ease-in 3s infinite;   
  transition: background-color 500ms ease-in;
}

.flick-result:hover > .flick-result-rating > .knife, .flick-result:focus > .flick-result-rating > .knife {
  color: var(--white);
  opacity: 1;
}

.flick-result-title {
  grid-area: flick-title;
  font-size: clamp(1rem, 6vw, 2.5rem);
  line-height: 1.4;
  font-weight: 600;
}

.flick-result-rating {
  grid-area: flick-rating;
  justify-self: flex-end;
  align-self: flex-end;
  line-height: 1.5rem;
  font-weight: 600;
}

.flick-result-rating > .knife {
  font-size: clamp(1rem, 6vw, 2.5rem)
}

/* Flick component styles */

.flick {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1fr 1.5rem;
  grid-template-rows: 1.5rem auto auto auto auto auto auto auto auto auto 1.5rem;
  grid-template-areas: 
  ". . . ."
  ". flick-title flick-title ."
  ". fm-rating fm-rating ."
  ". fm-sub-title fm-sub-title ."
  ". fm-review-text fm-review-text ."
  ". fm-director fm-director ."
  ". fm-actors fm-actors ."
  ". fm-released fm-released ."
  ". fm-poster fm-poster ."
  ". back-to-search imdb-rating ."
  ". . . ."
  ;
  border-radius: .75rem;
  margin-bottom: 2rem;
  min-width: 100%;
  max-width: 1050px;
  overflow: hidden;
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
}

.flick-title, .flick-mikey-sub-title, .flick-mikey-review-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.flick-title {
  grid-area: flick-title;
  margin-bottom: .5rem;
  font-size: clamp(2.5rem, 10vw, 3.5rem);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: .8;
  white-space: nowrap;
}

.flick-mikey-rating {
  grid-area: fm-rating;
  justify-self: start;
  align-self: start;
}

.flick-mikey-sub-title {
  grid-area: fm-sub-title;
  font-style: italic;
  margin-bottom: .6rem;
}

.mini-review-title {
  display: inline-block;
  text-decoration: underline;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: .6rem;
  font-size: clamp(1rem, 2.5vw, 1.15rem)
}

.flick-mikey-review-text,
.flick-imdb-actors,
.flick-imdb-director,
.flick-imdb-released,
.flick-mikey-sub-title {
  font-size: clamp(1rem, 3vw, 1.35rem);
}

.flick-mikey-review-text {
  grid-area: fm-review-text;
  margin-bottom: .8rem;
  line-height: 1.4;
}

.flick-imdb-actors {
  grid-area: fm-actors;
  margin-bottom: .8rem;
  font-style: italic;
}

.flick-imdb-director {
  grid-area: fm-director;
  margin-bottom: .8rem;
  font-style: italic;
}

.flick-imdb-released {
  grid-area: fm-released;
  margin-bottom: .8rem;
  font-style: italic;
}

.flick-imdb-poster {
  grid-area: fm-poster;
  width: 100%;
  margin-bottom: 1rem;
}

.back-to-search {
  grid-area: back-to-search; 
  line-height: 1.4;
  justify-self: flex-start;
  height: 3rem;
}

.back-button-flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  align-items: end;
  gap: .5rem;
}

.back-button-flex-container > .back-text, .link-arrows {
color: var(--grey);
}

.imdb-link {
  grid-area: imdb-rating;
  justify-self: self-end;
}

.imdb-rating-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  padding: .5rem .5rem;
  border-radius: .75rem;
  cursor: pointer;
  background: var(--midnight-purple-dark);
  border: 2px solid var(--scarlet-red);
  transition: transform 500ms ease-in;
  color: var(--white);
  box-shadow: 0 0 30px var(--midnight-purple-light);
}

.imdb-rating-flex-container:hover {
  transform: scale(1.1);
}

.imdb-logo {
  max-height: 2rem; 
}

.imdb-rating {
  padding-left: 1rem;
  line-height: 0;
}

.imdb-score{
  font-size: 1.5rem;
}

/* Animation classes */

.slide-up {
  position: relative;
  animation: slide-up 1000ms forwards;
}

.removed {
  animation: removed 1000ms forwards;
}

.drop-in {
  width: 100%;
  height: 100%;
  padding: 0%  .5rem;
  outline: none;
  animation: drop-in 1500ms forwards;
}

.splat {
  animation: splat 500ms forwards;
}

/* Media query for desktop large device/desktop */

@media (min-width:850px) {

.flick {
  grid-template-columns: 1.5rem 1fr 1fr 1.5rem 2fr 1.5rem;
  grid-template-rows: 1.5rem auto auto auto auto auto auto auto auto 1.5rem;
  grid-template-areas: 
  ". . . . flick-imdb-poster flick-imdb-poster"
  ". flick-title flick-title . flick-imdb-poster flick-imdb-poster"
  ". fm-rating fm-rating . flick-imdb-poster flick-imdb-poster"
  ". fm-sub-title fm-sub-title . flick-imdb-poster flick-imdb-poster"
  ". fm-review-text fm-review-text . flick-imdb-poster flick-imdb-poster"
  ". fm-director fm-director . flick-imdb-poster flick-imdb-poster"
  ". fm-actors fm-actors . flick-imdb-poster flick-imdb-poster"
  ". fm-released fm-released . flick-imdb-poster flick-imdb-poster"
  ". back-to-search imdb-rating . flick-imdb-poster flick-imdb-poster"
  ". . . . flick-imdb-poster flick-imdb-poster"
  ;
}

.flick-title {
  align-self: self-start;
  margin: 0;
  line-height: 1.1;
}

.imdb-link {
  align-self: self-end;
}

.flick-imdb-poster {
  grid-area: flick-imdb-poster;
  margin: 0;
  align-self: flex-start;
  object-fit:cover;
}

.flick-imdb-actors, .flick-imdb-director, .flick-imdb-released {
  font-size: 1.1rem;
  margin:0;
}

.flick-mikey-review-text {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: .25px;
  max-height: 12rem;
  overflow: scroll;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

}

/* Utility classes */

.opacity-full {
  opacity: 1;
}

/* Animations */

/* Flick result slides up into view */

@keyframes slide-up {
  0% {
    transform: translateY(1000px);
    opacity: 0;}
  100% {transform: translateY(0px);
  margin-bottom: 1.5rem;
  opacity: 1;}
}

/* Flick result disappears */

@keyframes removed {
  0% {opacity: 1;
  max-height: 100px;}

  100% {
    opacity: 0;
    max-height: 0px;
    display: none;
  }
}

/* Button arrow drops in */

@keyframes drop-in {
  0% { opacity: .25;
    scale: 3;}
  25% { opacity: .5;
    scale: .75;}
  50% {opacity: .75;
    scale: 1.2;}
  100%{opacity: 1;
    scale: 1;}
}

/* Spooky glowing effect for title */

@keyframes spooky-glow {
  0%, 100% { text-shadow: 0 0 8px var(--scarlet-red), 0 0 2px var(--white); }
  50% { text-shadow: 0 0 16px var(--ruby-red), 0 0 8px var(--white); }
}

/* Makes a button with a call to action pulse slightly */

@keyframes pulse {
  0% {transform: scale(1);} 
  33% {transform: scale(1.05);} 
  100% {transform: scale(1);} 
}

/* Animation for the deletion confirmation to appear on the the clicked flick result */

@keyframes splat {
  0% {
    scale:1.5;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

/* Animation on my "New" tag on user reviews */

@keyframes boing {
  0% {transform: rotate(-25deg) translateY(0%);}
    70% {transform: rotate(-25deg);}
    80% { transform:translateY(-15%) rotate(-25deg);}
    90% { transform:translateY(0%) rotate(-25deg);}
    95% { transform:translateY(-7%) rotate(-25deg);}
    97% { transform:translateY(0%) rotate(-25deg);}
    99% { transform:translateY(-3%)rotate(-25deg);}
    100% { transform:translateY(0) rotate(-25deg);}
}